* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(236, 228, 238);
}
.wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

flex-container {
  display: flex;
}

.button {
  height: 100;
  width: 100;
  flex-grow: 1;
}
