.body {
  background-color: rgb(8, 18, 9);
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.profile-photo {
  height: 110px;
  width: auto;
}

.navbar-button {
  display: inline-block;
  list-style: none;
  margin: 20px 30px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-link:hover {
  color: red;
}

.about-me {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 80%;
}

/* media queries */

@media screen and (max-width: 480px) {
  navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar-button {
    margin: 10px 20px;
  }
}
