.body {
  background-color: rgb(8, 11, 18);
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profile-photo {
  height: 110px;
  width: auto;
}

.navbar-button {
  display: inline-block;
  list-style: none;
  margin: 20px 30px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-link:hover {
  color: red;
}

.about-me {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 80%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-me {
  display: flex;
  justify-content: space-evenly;
  height: 7vh;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-me--button {
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.main-project {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.project-description {
  width: 70%;
}

.secondary-projects-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  padding: 15px;
  width: 45%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.secondary-project--description {
  width: 65%;
  margin: 10px 0px;
}

.project--buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

.project img {
  height: 100px;
  width: auto;
}

/* media queries */

@media screen and (max-width: 480px) {
  navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar-button {
    margin: 10px 20px;
  }

  .contact-me {
    flex-direction: column;
    height: 15vh;
  }
}
